
iBeacon.xcodeproj/project.pbxproj

iBeacon.xcodeproj/project.xcworkspace/xcshareddata/iBeacon.xccheckout

iBeacon/AppDelegate.m

iBeacon/beaconReader.m

iBeacon/beaconReader.h

iBeacon/Base.lproj/Main.storyboard
